<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DeeP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DeeP.FlexiWallWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DeeP.FlexiWallWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <!-- <system.serviceModel> -->
    <!--   <bindings> -->
    <!--     <basicHttpBinding> -->
    <!--       <binding name="Service1Client" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2097152" maxBufferPoolSize="2097152" maxReceivedMessageSize="2097152" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"> -->
    <!--         <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="216384" maxBytesPerRead="4096" maxNameTableCharCount="16384" /> -->
    <!--       </binding> -->
    <!--     </basicHttpBinding> -->
    <!--   </bindings> -->
    <!--   <client> -->
    <!--     <endpoint address="http://141.76.66.11:8080/DelVizWebService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="Service1Client" contract="DelVizWebService.IService1" name="Service1Client" /> -->
    <!--   </client> -->
    <!-- </system.serviceModel> -->
    <userSettings>
        <DeeP.Properties.Settings>
            <setting name="ObjectForceModifier" serializeAs="String">
                <value>90000</value>
            </setting>
            <setting name="TagForceModifier" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="TagItemRepulsionModifier" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BoundaryForceModifier" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ItemsCanvasWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="ItemsCanvasHeight" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="TagCanvasWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="TagCanvasHeight" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="ItemForceFieldDiameter" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="TagForceFieldDiameter" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="StandardTagAttraction" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="StandardTagRepulsion" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TagSameDimensionForceModifier" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="TagSameCategoryForceModifier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SimulationTimerIntervalMs" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SelectedTagAttractionModifier" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ComputeRepulsionForUnselectedTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnselectedTagRepulsionModifier" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DetectCollisions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CollisionDetectionIterations" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ItemBaseSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TagBaseSize" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="CentripetalSpeed" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="MaxIntensityValue" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ApplicationType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LoadItemModulo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProcessDepthOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnforceEqualDataDistribution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxNumItemsPerTag" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SensorAutostart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReFlexServerAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ReFlexServerPort" serializeAs="String">
                <value>40001</value>
            </setting>
            <setting name="ReFlexServerEndpoint" serializeAs="String">
                <value>ReFlex</value>
            </setting>
            <setting name="SendDiagnosticData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiagnosticsAddress" serializeAs="String">
                <value>http://localhost:4302/log/appData</value>
            </setting>
        </DeeP.Properties.Settings>
        <DeeP.FlexiWallWPF.Properties.Settings>
            <setting name="ObjectForceModifier" serializeAs="String">
                <value>90000</value>
            </setting>
            <setting name="TagForceModifier" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="TagItemRepulsionModifier" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BoundaryForceModifier" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ItemsCanvasWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="ItemsCanvasHeight" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="TagCanvasWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="TagCanvasHeight" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="ItemForceFieldDiameter" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="TagForceFieldDiameter" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="StandardTagAttraction" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="StandardTagRepulsion" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TagSameDimensionForceModifier" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="TagSameCategoryForceModifier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SimulationTimerIntervalMs" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SelectedTagAttractionModifier" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ComputeRepulsionForUnselectedTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnselectedTagRepulsionModifier" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DetectCollisions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CollisionDetectionIterations" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ItemBaseSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TagBaseSize" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="CentripetalSpeed" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="MaxIntensityValue" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ApplicationType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LoadItemModulo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProcessDepthOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnforceEqualDataDistribution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxNumItemsPerTag" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SensorAutostart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReFlexServerAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ReFlexServerPort" serializeAs="String">
                <value>40001</value>
            </setting>
            <setting name="ReFlexServerEndpoint" serializeAs="String">
                <value>ReFlex</value>
            </setting>
            <setting name="SendDiagnosticData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiagnosticsAddress" serializeAs="String">
                <value>http://localhost:4302/log/appData</value>
            </setting>
        </DeeP.FlexiWallWPF.Properties.Settings>
    </userSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualBasic.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="netstandard" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Collections" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Collections.Concurrent" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Collections.NonGeneric" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Collections.Specialized" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ComponentModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ComponentModel.EventBasedAsync" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ComponentModel.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ComponentModel.TypeConverter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.FileVersionInfo" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.TraceSource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Drawing.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IO.FileSystem.DriveInfo" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IO.Pipes" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Linq" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Linq.Expressions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Requests" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Security" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Sockets" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.WebHeaderCollection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.WebSockets" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ObjectModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Reflection.Emit.ILGeneration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Reflection.Emit.Lightweight" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Reflection.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Resources.Writer" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.Numerics" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.Serialization.Xml" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.Claims" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.Cryptography.Encoding" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.Permissions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Encoding.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Overlapped" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Windows.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Xml.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <applicationSettings>
        <DeeP.FlexiWallWPF.Properties.Settings>
            <setting name="SendDiagnosticData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiagnosticsAddress" serializeAs="String">
                <value>http://localhost:4302/log/appData</value>
            </setting>
        </DeeP.FlexiWallWPF.Properties.Settings>
    </applicationSettings>
</configuration>